.header {
  height: 100vh;
  // background-image: url("assets/snowflake.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .header__h1 {
    padding: 0 10%;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    color: #fff;
    text-shadow: 0 0 4px black;
  }
  .header__h2 {
    padding: 0 10%;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 4px black;
  }
  * {
    z-index: 1;
  }
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

// .start {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-around;
//   text-align: center;
//   width: 100%;
// }

// .main-container {
//   position: absolute;
//   height: 100vh;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background-color: rgba(0, 0, 0, 0.3);
//   display: flex;
//   flex-direction: column;
//   z-index: 2;
//   transform: scale(0);
//   overflow-x: hidden;
//   transition: var(--transition);
// }

// .main-container.active {
//   transform: scale(1);
// }
